<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>captcha</display-name>

    <servlet>
        <servlet-name>AudioCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.AudioCaptchaServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha-width</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>captcha-height</param-name>
            <param-value>100</param-value>
        </init-param>
	</servlet>
	
    <servlet>
		<servlet-name>StickyCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>

        <init-param>
            <!-- Optional; defaults to 200. -->
            <param-name>captcha-width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <!-- Optional; defaults to 50. -->
            <param-name>captcha-height</param-name>
            <param-value>75</param-value>
        </init-param>
        <init-param>
            <!-- Time To Live, in ms. Optional; Defaults to 600000ms. -->
            <param-name>ttl</param-name>
            <param-value>100000</param-value>
        </init-param>
    </servlet>

	<servlet-mapping>
		<servlet-name>AudioCaptcha</servlet-name>
		<url-pattern>/audio.wav</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/simpleCaptcha.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StickyCaptcha</servlet-name>
		<url-pattern>/stickyCaptcha.png</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>stickyCaptcha.jsp</welcome-file>
	</welcome-file-list>
</web-app>
